
.bottomreporte{
    background: rgb(0, 243, 243);
    color: black;
    border-color: red;
}

.bottomentrenamiento{
    background: aqua;
    color: black;
}

.bottomadopcion{
    color: black;
    background: aqua;
}

.tabs{
border-style: solid;
border-color: black ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


