<ion-content color="dark">
  <br>
  <div>
    <img src="assets/icon/dog.png" alt="">
    <br><br>
  </div>
    <div class="imagenesdesplegables" style="background: rgb(255, 255, 255);">    
     <ul>
      <li><img src="assets/icon/slider-014.png" alt=""></li>
      <li><img src="assets/icon/slider-019.png" atl=""></li>
      <li><img src="assets/icon/slider-014.png" alt=""></li>
      <li><img src="assets/icon/slider-018.png" alt=""></li>
      <li><img src="assets/icon/slider-012.jpg" alt=""></li>
      <li><img src="assets/icon/sistemas.png" alt="" style="background: black;"></li>			 
    </ul>
    </div>
  <br>
  <div class="card-body" style="border: #d7d8da 1px solid;">
  <div class="bienvenidas">
  <h1> Bienvenidos <br>a nuestra <br>Aplicacion Movil</h1>
  <p>Quieres utilizar nuestros servicios y ser parte de la comunidad de ayuda para el cuidado y rescate canino mas grande del Ecuador.
    <br>Primeramente debera Registrarse e iniciar seccion. 
    <br> Una vez Ingresado dentro de este aplicativo podra realizar las siguiente funciones:
    <div class="slider-title">*Tips de Adiestramientos y cuidados caninos.<br>*Adopciones Mascotas..
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
			<ion-refresher-content></ion-refresher-content>
		  </ion-refresher>
      <ion-grid   >
        <ion-row  >
          <ion-slides pager="true"  [options]="slideOptsTwo">
            <ion-col class="todo" *ngFor="let store of products">
              <ion-card class="card-body2" style="border: #d7d8da 1px solid; background: rgba(0, 255, 255, 0.105);">
                <img src="{{store.foto}}" height="100px" width="1200px" style="border-radius:2px;">
      
                <div class="content-store">
                  <ion-card-title style="width: 100%;">{{store.titulo}}</ion-card-title>
                  <ion-row style="width: 100%;">
                    <ion-card-subtitle style="width: 100%; color: black;">
                      <ion-icon name="paw-outline"></ion-icon>_Mascota_
                      <br>
                      <ion-icon name="navigate"></ion-icon>Adoptame
                    </ion-card-subtitle>
                  </ion-row>
                  <ion-row style=" width: 100%;">
                    <div style="margin-right: 10px;">
                      <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" checked><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                    </div>
                  </ion-row>
                  <ion-button (click)="Ingresarlogin()"  color="warning" style="border-radius: 20px; border: #d7d8da 5px solid; font-family: 'Courier New', Courier, monospace; "  >
                    <h2>Adoptar </h2>
                  </ion-button>
                </div>
              </ion-card>
            </ion-col>
          </ion-slides>
        </ion-row>
      </ion-grid>
  </div>
</div>
<div>
  <br><br>
    <ion-button class="botonadoptar" color="warning"  (click)="login()">
      <ion-icon name="paw-outline"></ion-icon>_
      <h2>EMPEZAR</h2>
      _<ion-icon name="paw-outline"></ion-icon>
  </ion-button>
</div>
<br><br><br>
</ion-content>