svg{
    height: 180px;
    width: 300px;
    }

    .centradologo{     
text-align: center;
  }

  .listamenu{
    background: rgb(0, 60, 99);
  }

  .listamenu:hover{
    background: rgb(123, 202, 255);
  }

  .items:hover{
    background: red;
  }

  .botonsalir{
    background: rgb(0, 60, 99);
    text-align: center;
  }
 
  .botonsalir:hover{
    background: red;
  }