.cerrar:hover{
    color: red;
  }
  .adoptar:hover{
    background-color: rgb(0, 255, 255);
  }    

  .my-custom-popover {
    width: 300px; /* Ajusta el tamaño según sea necesario */
  }


  .bi.bi-save2{
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }
  
  .edit-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: aqua;
    padding: 0.5rem 1rem;
  }
  
 
  .contenedor {
    width: 100%; /* Ajusta el ancho según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mascotafoto {
    box-shadow: 0 0 7px 5px rgb(255, 255, 255);
    text-align: center;
  }
  