 .card{
    background: rgba(0, 255, 255, 0.542);
    color: rgb(0, 0, 0);
    font-size: 50px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.00); /* Subtle box-shadow */
  }
 

  /* Background and Borders */
  // background-color: #f8f8f8;
  // border-radius: 10px; /* Adjust border radius as desired */
  // /* Shading and Effects */
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Subtle box-shadow */
  // /* Responsiveness and Positioning */
  // margin: 20px auto;
  // margin-top: -50px;
  // max-width: 100%;


  .caracteristica {
    /* Font and Text Formatting */
    font-family: 'Georgia', 'Times New Roman', Times, serif; /* Preferred serif fonts */
    color: #333; /* Adjust text color for better contrast */
    text-align: center; /* Center alignment */
    margin-top: -30px;

  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 768px) {
    .content-inner {
      height: 100%; /* Establecer la altura del contenido interno al 100% del contenedor principal */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  

  
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    color: #333;
  }
  
  .character-info h3{
    font-size: 20px;
    color: #272727;
    margin-bottom: 8px;
  }
  

  .adoptar:hover{
    background: rgba(0, 255, 255, 0.542);
  }

