<ion-content  >
  <ion-tabs class="tabs" >
    <ion-tab-bar slot="bottom">
          <!--Tab1-->
      <ion-tab-button tab="usuarios" class="tabs" >
        <ion-icon name="person-add-outline"></ion-icon>
              <ion-label style=" color: rgb(0, 0, 0);">Usuarios</ion-label>
      </ion-tab-button>
          <!--Tab2-->
      <ion-tab-button tab="mascotas" class="tabs" >
        <ion-icon name="paw-outline"></ion-icon>
        <ion-label style=" color: rgb(0, 0, 0);">Mascotas</ion-label>
      </ion-tab-button>
  <!--Tab3-->
  <ion-tab-button tab="adiestramiento" class="tabs">
    <ion-icon name="walk-outline"></ion-icon>
        <ion-label style="color: rgb(0, 0, 0);">Adiestramientos</ion-label>
  </ion-tab-button>
      <ion-tab-button tab="adopciones" class="tabs">
        <ion-icon name="bookmark-outline"></ion-icon>
                <ion-label style="color: rgb(0, 0, 0);">Adopciones</ion-label>
      </ion-tab-button>
        </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
