<ion-header>
  <ion-toolbar color="primary" style="height: 60px; ">
    <ion-card-header>
      <ion-card-title
        style="text-align: center;  font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 0px;">REGISTRO
      </ion-card-title>
    </ion-card-header>
    <ion-buttons slot="end" color="danger" (click)="exit()" style="margin-left: 2px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </ion-buttons>

    <ion-back-button></ion-back-button>

  </ion-toolbar>


</ion-header>
<ion-content color="danger">
  <ion-grid>
    <ion-row style="justify-content: center;">
      <ion-col size="10">
        <div class="card-body" style="border: #d7d8da 1px solid; 
                                justify-content: center; 
                                align-items: center;
                                margin: 0 auto;
                                width: 100%; 
                                display: flex;">

          <form #productForm="ngForm">
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-input type="text" maxlength="10" minlength="10" pattern="[0-9]+" placeholder="Cedula" required
                  name="cedula" [(ngModel)]="elementos.cedula" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="at"></ion-icon>
                <ion-input type="text" placeholder="CorroElectronico" required name="correoelectronico"
                  [(ngModel)]="elementos.correoelectronico" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-input type="text" placeholder="Nombres" required name="nombre" [(ngModel)]="elementos.nombre"
                  class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-input type="text" placeholder="Apellidos" required name="apellidos"
                  [(ngModel)]="elementos.apellidos" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="trail-sign-outline"></ion-icon>
                <ion-input type="text" placeholder="Direccion" required name="direccion"
                  [(ngModel)]="elementos.direccion" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
                <ion-input type="text" maxlength="10" minlength="10" pattern="[0-9]+" placeholder="Telefono" required
                  name="telefono" [(ngModel)]="elementos.telefono" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <ion-item class="itemregistro">
                <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                <ion-input type="password" placeholder="Contraseña" required name="password"
                  [(ngModel)]="elementos.password" class="fadeIn second"></ion-input>
              </ion-item>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Foto</label>
              <input (change)="cargaArchivo2($event)" type="file" required name="formato"
                [(ngModel)]="elementos.formato" class="form-control-file">
            </div>
            <div class="preview-img" *ngIf="previsualizacion">
              <button class="clear-image" type="button" (click)="clearImage()">Borrar</button>
              <img [src]="previsualizacion" alt="">
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="margin-top: 5px;">
        <div class="text-right">
          <button type="button" (click)="Guardar(productForm)" class="btn btn-primary buto"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Guardar Usuario
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-save2" viewBox="0 0 40 1">
              <path
                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
            </svg>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>